
$slred: #A71F30;
$bg: #000000;
$white: #ffffff;
$greyonblack: #a8a49b;
$lightgrey: #e3e3e3;


body{
	background-color:$bg;
}
.gradient{
	background:url('/images/interface/gradient.png') 50% 0% no-repeat;
}

.homepage-wrapper{
	background-color:$bg;
}
.homepage-header {
	h1{
		display:none;
	}
	.logo{
		display:block;
		margin:0 auto;
		padding-top:15px;
	}
}
.top-line{
	background:$slred;
	height:7px;
}

.tagline{
	color:$greyonblack;
	margin-top:0px;
	font-size:emCalc(22);
	text-align:center;
	letter-spacing:1px;
}
@media only screen{ 
	.button.radius.login{
		float:right;
		right:15px;
		background-color:#a71f30;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
		border-color:#7a1824;
		border-top-width:0px;
		box-shadow:inset 0px -1px rgba(255,255,255,0.5)
	}
}

.slider{
	margin-top:emCalc(20px);
	margin-bottom:emCalc(30px);
}

.section-container .active .content{
	ul{
		margin-left:25px;
	}
}

@media #{$small} { 

	.section-container p.title{
		border-top-left-radius:10px;
		border-top-right-radius:10px;
	}

	.section-container .active .content{
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		border-top-right-radius:10px;
	}

}


.copyright{
	text-align:center;

	div{
		color:$lightgrey;
		padding:20px 0 50px 0;
	}
}

.coach-summary{
	background:$lightgrey;
	min-height:570px;
	border-radius:10px;
	margin-bottom:20px;
	padding-top:10px;
	img{
		display:block;
		margin:0 auto;
		border-radius:10px;

	}
	h4{
		margin-bottom:0;
	}

	.experttype{
		margin-bottom:0;
	}
	.company{
		margin-bottom:0;
	}
}

.subpage{
	h1{
		color:$white;
		text-align:center;
	}
}


.orbit-container{
	background:transparent;
}


.header-subpage{
	img{
		display:block;
		margin: 0 auto;
	}
}