@font-face {
  font-family: 'langdonregular';
  font-style: normal;
  font-weight: normal;
  src: url('http://stagelighter.com/resources/app/css/langdon/langdon-webfont.eot');
  src: url('http://stagelighter.com/resources/app/css/langdon/langdon-webfont.eot?#iefix') format('embedded-opentype'), 
  url('http://stagelighter.com/resources/app/css/langdon/langdon-webfont.woff') format('woff'), 
  url('http://stagelighter.com/resources/app/css/langdon/langdon-webfont.ttf') format('truetype'), 
  url('http://stagelighter.com/resources/app/css/langdon/langdon-webfont.svg#langdonregular') format('svg');
}