---
layout: default
title: Stagelighter
---

<div class="row">
  <div class="large-12 columns">
		<ul data-orbit>
		  <li>
		    <img src="/images/slider/banner1.jpg" />
		    <div class="orbit-caption">Carry out a random act of kindness, with no expectation of reward, safe in the knowledge that one day someone might do the same for you. -Princess Diana</div>
		  </li>
		  <li>
		    <img src="/images/slider/banner2.jpg" />
		    <div class="orbit-caption">Two things are infinite: the universe and human stupidity; and I’m not sure about the universe. -Albert Einstein</div>
		  </li>
		  <li>
		    <img src="/images/slider/banner3.jpg" />
		    <div class="orbit-caption"> Any fool can write code that a computer can understand. Good programmers write code that humans can understand. -Martin Fowler</div>
		  </li>
		</ul>
	</div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="section-container tabs" data-section="tabs">
      <section>
        <p class="title" data-section-title><a href="#">Our Coaches</a></p>
        <div class="content" data-section-content>
          {% include our-coaches.html %}
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">How It Works</a></p>
        <div class="content" data-section-content>
          {% include how-it-works.html %}
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">About Stagelighter</a></p>
        <div class="content" data-section-content>
          {% include about-stagelighter.html %}
        </div>
      </section>
    </div><!-- /tabs -->
  </div><!-- /columns -->
</div><!-- /row -->

	