<div class="row">
	<div class="small-12 columns">
	<h3>We created Stagelighter because we believe that getting solid advice from those who've succeeded in the industry is one of the best ways to move a career forward.</h3>

	<h4>We're upfront</h4>
	<p>Stagelighter pricing is simple. Coaches' fees are listed directly on their profile pages. There are no hidden costs or membership fees.</p>
	<h4>We're not into gimmicks</h4>
	<p>'Talent Searches' and flashy slogans like 'Become a Star' just aren't our style. We know the sacrifices required to pursue a career in theatre - we've been there ourselves.</p>
	<h4>We bridge the gap</h4>
	<p>We let anyone with Broadway goals connect with the best professionals in the industry and avoid the pitfalls of going it alone. </p>


	


	<h3>What people are saying</h3>
	<blockquote>"I just got my feedback from Michael Cassara; this is TRULY an incredible site and the set-up was easy to understand, clean and helpful. A phenomenal idea, so happy I found it!"
                    <span><img src="/images/testimonials/Erikca-Henningsen-Testimonial.jpg" alt="Erika Henningsen Testimonial">&mdash; Erika Henningsen, Musical Theatre Major, University of Michigan</span>
	</blockquote>
	<blockquote>"I truly think Stagelighter is an unheard of opportunity and an invaluable service in that it is a real response from an important industry professional and one that in a real audition, you never get to hear"
	                    <span><img src="/images/testimonials/Hannah-Zazzaro-Testimonial.jpg" alt="Hannah Zazzaro Testimonial">&mdash; Hannah Zazzaro, Musical Theatre Performer, Cincinnati OH</span>
	</blockquote>
	<blockquote>"The idea that you can live anywhere and still connect with top Broadway pros is amazing. What Michael McElroy had to say was really valuable. Great ideas on my performance as well as useful tips on my resume - one that got me cast in a show right after!"
	                    <span><img src="/images/testimonials/Jordon-Bolden-Testimonial.jpg" alt="Jordon Bolden Testimonial">&mdash; Jordon Bolden, Actor, Seattle WA</span>
	</blockquote>
	
	<div>

</div>

