<div class="row">
	<div class="small-12 columns">
		<h3>Get in-depth feedback on your audition material from the industry's leading professionals.</h3>

		<h4>Three simple steps</h4>
		<ul>
			<li>Upload your material</li>
			<li>Choose your coach</li>
			<li>Get your feedback</li>
		</ul>
		<p>It's that easy. The experts you choose will give you detailed feedback on your headshot, resume and performance video. It's comprehensive advice to help you take your audition material to the next level.</p>

		<h4>Pricing</h4>
		<p>Personalized feedback from the top professionals in the business for as little as $39.</p>

		<h3>What to Expect</h3>
		<p>In each session, our coaches will:</p>
		<ul>
			<li>give you tips on how to improve your headshot and resume</li>
			<li>comment on whether the song or monologue selection was a good choice for you</li>
			<li>offer specific performance feedback</li>
			<li>address whether your hair, makeup and attire works for an audition</li>
			<li>highlight what you should work on for next time</li>
			<li>answer one question of your choice</li>
		</ul>

	</div>
</div>