<div class="row">
	<div class="large-12 columns">

		<h3>Featured Coaches</h3>
		<div class="row coach-panels-wrapper">
			<!-- generated via js during dev for now -->
		</div><!-- /row -->


		<h3>Browse by Expert Type</h3>
		<div class="row">
			<div class="large-3 small-6 columns">
				<h4><a href="/agents-and-casting-directors">Agents &amp; Casting Directors</a></h4>
			</div>	
			<div class="large-3 small-6 columns">
				<h4><a href="/directors-and-composers">Directors &amp; Composers</h4>
			</div>
			<div class="large-3 small-6 columns">
				<h4><a href="/performers">Performers</a></h4>
			</div>	
			<div class="large-3 small-6 columns">
				<h4><a href="/college-faculty">College Faculty</a></h4>
			</div>	
		</div><!-- /row -->

	</div><!-- /columns -->
</div><!-- /row -->

