
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>
       
        <link rel="stylesheet" href="/stylesheets/app.css">
        <script src="/javascripts/libs/custom.modernizr.js"></script>

  </head>
  <body>
    <div class="top-line"></div>
    <div class="homepage-wrapper gradient">
        <div class="row homepage-header">
          <div class="large-12 columns ">
            <a class="radius button login" href="/login.html">Sign In</a>
            <h1>Stagelighter</h1>
            <a href="/"><img class="logo" src="/images/interface/stagelighter-logo.png"></a>
            
            <h2 class="tagline">Personal Feedback and Advice from Broadway's Top Professionals</h2>
          </div>
        </div>
        <div class="row">
            <div class="large-12 columns slider">
                {% include slider.html %}
            </div>
        </div>
    </div>


    {{ content }}

    

    <div class="row">
      <div class="small-12 columns copyright">
        <div>Copyright &copy; 2013 Stagelighter</div>
      </div>
    </div>

    
    <script>
    document.write('<script src=' +
    ('__proto__' in {} ? '/javascripts/libs/zepto' : '/javascripts/vendor/jquery') +
    '.js><\/script>')
    </script>
    
    <script src="/javascripts/foundation/foundation.js"></script>
    
    <script src="/javascripts/foundation/foundation.abide.js"></script>
    
    <script src="/javascripts/foundation/foundation.alerts.js"></script>
    
    <script src="/javascripts/foundation/foundation.clearing.js"></script>
    
    <script src="/javascripts/foundation/foundation.cookie.js"></script>
    
    <script src="/javascripts/foundation/foundation.dropdown.js"></script>
    
    <script src="/javascripts/foundation/foundation.forms.js"></script>
    
    <script src="/javascripts/foundation/foundation.interchange.js"></script>
    
    <script src="/javascripts/foundation/foundation.joyride.js"></script>
    
    <script src="/javascripts/foundation/foundation.magellan.js"></script>
    
    <script src="/javascripts/foundation/foundation.orbit.js"></script>
    
    <script src="/javascripts/foundation/foundation.placeholder.js"></script>
    
    <script src="/javascripts/foundation/foundation.reveal.js"></script>
    
    <script src="/javascripts/foundation/foundation.section.js"></script>
    
    <script src="/javascripts/foundation/foundation.tooltips.js"></script>
    
    <script src="/javascripts/foundation/foundation.topbar.js"></script>

    <!-- here during development -->
    <script src="/javascripts/coaches-data.json"></script>
    <script src="/javascripts/generate-coach-panels.js"></script>
    <!-- *********************** -->

    <script src="/javascripts/stagelighter.js"></script>

  </body>
</html>
